acme==4.1.1
amqp==5.3.1
asgiref==3.9.0
billiard==4.2.1
celery==5.5.3
certbot==4.1.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
ConfigArgParse==1.7.1
configobj==5.0.9
cryptography==45.0.4
distro==1.9.0
Django==5.1.10
idna==3.10
jsonpickle==4.1.1
kombu==5.5.4
parsedatetime==2.6
prompt_toolkit==3.0.51
pycparser==2.22
pyOpenSSL==25.1.0
pyRFC3339==2.0.1
python-dateutil==2.9.0.post0
python-digitalocean==1.17.0
pytz==2025.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
uwsgi==2.0.30
vine==5.1.0
wcwidth==0.2.13
django-redis
mysqlclient
django-auto-logout
python-decouple
whitenoise
django-cors-headers
django-xforwardedfor-middleware