acme==5.1.0
amqp==5.3.1
asgiref==3.11.0
billiard==4.2.3
celery==5.5.3
certbot==5.1.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
ConfigArgParse==1.7.1
configobj==5.0.9
cryptography==46.0.3
distro==1.9.0
Django==5.2.8
idna==3.11
jsonpickle==4.1.1
kombu==5.6.0
parsedatetime==2.6
prompt_toolkit==3.0.52
pycparser==2.23
pyOpenSSL==25.3.0
pyRFC3339==2.1.0
python-dateutil==2.9.0.post0
python-digitalocean==1.17.0
pytz==2025.2
requests==2.32.5
six==1.17.0
sqlparse==0.5.4
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uwsgi==2.0.31
vine==5.1.0
wcwidth==0.2.14
django-redis
mysqlclient
django-auto-logout
python-decouple
whitenoise
django-cors-headers
django-xforwardedfor-middleware